h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.get-started-bttn {
  background-color: #6c63ff;
  color: white;
  padding: 18px 30px;
  border: none;
}
